<div class="profile-container">
  <button class="btn btn-dots" >...</button>


  <div class="card profile-card">
    <div class="profile-details">
      <img src="" alt="placeholder image" class="profile-image">
      <div class="profile-info">
        <p><strong></strong> <%= @profile.name %></p>
        <p><strong>"</strong> <%= @profile.goal %>"</p>
        <div class="level-bar-container">
          <div class="level-bar">
            <div class="level-bar-fill" id="level-bar-fill"></div>
          </div>
          <p id="xp-display">XP: <span id="current-xp">0</span>/<span id="xp-to-next-level">100</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card achievements-card">
    <div class="achievements-images">
      <img src="" alt="Achievement 1">
      <img src="" alt="Achievement 2">
      <img src="" alt="Achievement 3">
    </div>
  </div>

  <div class="card stats-card">
    <div class="stats-details">
      <div class="stat">
        <p id="total-workouts" class="stat-number">0</p>
        <p class="stat-value"><strong># Workouts</strong></p>
      </div>
      <div class="stat">
        <p id="total-volume" class="stat-number">0 kg</p>
        <p class="stat-value"><strong>Total Volume</strong></p>
      </div>
      <div class="stat">
        <p id="total-time" class="stat-number">0 hrs</p>
        <p class="stat-value"><strong>Time in Gym</strong></p>
      </div>
    </div>
  </div>

  <div class="card dynamic-image-card">
    <img src="" alt="Dynamic image placeholder" class="dynamic-image">
  </div>
</div>
