// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue1: #003A54;
$blue2: #007AB3;
$blue3: #00A9F8;
$beige: #FFFBF2;
