// Specific CSS for your home-page
body {
  background-color: white;
}

.image-box {
  width: 90%;
  height: 230px;
  position: absolute;
}
.rand-image {
  width: 100%;
  max-height: 230px;
  object-fit: cover;
  object-position: center;
}

.img-heading {
  position: relative;
  top: 50x; left: 50px;
  color: white;
  font-weight: bolder;
}

.group-class-index{
  width: 90%;
}

.card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.group-class-image {
  background-color: rgb(185, 185, 255);
  width: 120px;
  text-align: center;
}
