<div class="bottom-bar rounded-pill">
    <p class="bar-button"><%= link_to "Home", home_path, class:"text-decoration-none text-white" %></p>
    <p class="bar-button"><%= link_to "Chooseworkout", home_path, class:"text-decoration-none text-white" %></p>
    <p class="bar-button"><%= link_to "Profile", home_path, class:"text-decoration-none text-white" %></p>
</div>
