<div class="bottom-bar rounded-pill">
    <p class="bar-button ms-3">
      <%= link_to home_path, class: "text-decoration-none text-white" do %>
        <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <% end %>
    </p>
    <p class="bar-button"><%= link_to "ChooseWorkout", home_path, class:"text-decoration-none text-white" %></p>
    <p class="bar-button me-3">
      <%= link_to home_path, class:"text-decoration-none text-white" do %>
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
      <% end %>
    </p>
</div>
