<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", style="height:100px; position: relative;">
  <div class="container-fluid d-flex justify-content-center" style="position: absolute; bottom: 5px; width: 100%;">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag 'logo.jpg', alt: 'Logo', style: "height: 50px; width: auto;" %>
    <% end %>
  </div>
</div>
