    <%# #image box where it is writtne Weekly Hightlights
    #calendar of the week #with toggleable button
    #Activities list
    #Class for you title with class cards
    #the profile bar %>

    <div class>
      <div class="image-container" style="background-image: url('<%= @rand_img %>')"></div>
    </div>
