.text-container {
  background-color: $beige;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
  .group-classes-show-text {
    font-size: 18px;
  }
}

.emoji {
  margin-right: 5px; /* Adjust as necessary */
}

.students {
  margin-left: 0; /* Ensure there is no additional margin */
}

/* Optional: Adjust font size and line height for consistent appearance */
.emoji, .students {
  font-size: 18px; /* Adjust as necessary */
  line-height: 1.5; /* Adjust as necessary */
}

.mt-5 .contact {
  font-size: 18px;
  font-weight: 700 !important;
}
.group-class-img-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;

  .img-box {
    position: relative;

    .group-class-img-title {
      position: absolute;
      bottom: 20px;
      left: 40px;
      color: white;
      font-weight: bolder;
    }

    .group-class-img-info {
      width: 120px;
      position: absolute;
      top: 30px;
      right: 30px;
      color: white;
    }
  }
}

.group-class-category {
  margin-left: 10px;
}

.group-class-item {
  background-color: white;
  font-size:10px;
  padding: 6px 7px;
  align-items: center;
  text-align: center;
}
.group-class-result {
  font-size:9px;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  font-weight:lighter
}
