.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.workout-show-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.workout-show-container h1 {
  font-size: 2.2em;
  font-family: "Nunito";
  color: #007ab3;
  margin-bottom: 20px;
}

.workout-show-container h2 {
  font-size: 1.5em;
  font-family: "Nunito";
  color: #007ab3;
  margin-bottom: 15px;
}

.workout-show-container ul {
  font-family: "Questrial";
  list-style-type: none;
  padding: 0;
}

.workout-show-container .exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.workout-show-container .exercise-info {
  display: flex;
  flex-direction: column;
}

.workout-show-container .exercise-name {
  font-weight: bold;
}

.workout-show-container .exercise-details {
  font-size: 0.9em;
  color: #666;
}

.workout-show-container .btn {
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.btn-danger-custom {
  color: red;

  &:hover {
    color: black;
  }

  i {
    font-size: 20px;
  }
}

.btn-primary,
.btn-success-custom {
  background-color: #007ab3 !important;
  border: none;
  color: white;
  padding: 8px 0;
  border-radius: 5px;
  font-size: 14px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #003A54 !important;
}

.btn-primary-custom,
.btn-success-custom {
  background-color: #007ab3 !important;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 16px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.btn-primary-custom:hover {
  background-color: #003A54 !important;
}

.btn-success-custom:hover {
  background-color: #218838 !important;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.same-size-button {
  flex: 1;
}
