// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


//.profile-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

//.edit-profile-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  color: #007AB3
}

//h1 {
  color: #003A54
}
