// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.profile-container h1 {
  margin-bottom: 20px;
  color: #007AB3
}

.profile-container p {
  margin: 5px 0;
  color: #00A9F8
}

.profile-container .btn {
  margin-top: 20px;
}

.label {
  font-weight: bold;
  color: black;
}
