h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.button-container {
  display: flex;
  gap: 10px; /* Add space between buttons */
  margin-top: 20px;
}

.btn-primary-custom {
  background-color: #007AB3;
  border-color: #007AB3;
  border-radius: 25px;
  color: white;
}

.btn-primary-custom:hover {
  background-color: darken(#007AB3, 10%);
  border-color: darken(#007AB3, 10%);
}

.btn-success-custom {
  background-color: #00A9F8;
  border-color: #00A9F8;
  border-radius: 25px;
  color: white;
}

.btn-success-custom:hover {
  background-color: darken(#00A9F8, 10%);
  border-color: darken(#00A9F8, 10%);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center-content img {
  width: 369px;
  height: 310px;
}
